.login{
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px 0px;
    min-height: calc(100vh- 200px);
}

.login__container{
    background-color: rgba(255, 255, 255, 0.233);
    border: 2px solid #fff;
    padding: 60px 68px 40px;
    border-radius: 40px;
    color: #fff;
    min-height: 700px;
    width: 300px;
    box-shadow:1px 1px 1px 1PX rgba(0, 0, 0, 0.411);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.login__container--form{
    display: flex;
    flex-direction: column;
}

.login__container--form label {
    font-size: 14px;
}

.login__container--remember-me{
    color: #fff;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.login__container--remember-me a{
    color:#fff;
    text-decoration: none;
}

.login__container--remember-me a:hover{
    text-decoration: underline;
}
.login__container--social-media div{
     display: flex;
     align-items: center;   
     font-size: 14px;
     margin-bottom: 10px;
}

.login__container--social-media > div > img{
    width: 30px;
    margin-right: 10px;
} 

.login__container--social-media img:hover{
    transform: scale(1.3);
    transition:  0.3s all;
}
.login__container--register a{
    font-size: 16px;
    color:#fff;
    font-weight: bold;
    text-decoration: none;
}

.login__container--register a:hover{
    text-decoration: underline;
}

.inpunt{
    background: transparent;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    font-size: 16px;
    font-family:  'Raleway', sans-serif;
    border-bottom: 2px solid #fff;
    margin-bottom: 20px;
    padding: 0px 20px;
    outline: none;
    height: 50px;
}

::placeholder{
    color:#fff;
}

.button{
    background: rgba(255, 255, 255, 0.253);
    border-radius: 35px;
    padding: 18px;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
    height: 50px;
    margin: 10px 0px;
    outline: none;
    transition: 0.5s all;
}

.button:hover{
    color:#fff;
    background-color: #4158D0;
    background-image: linear-gradient(160deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

.footer{
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

.footer a{
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
    font-size:14px;
    padding-left: 30px;
    text-decoration: none;
}

.footer a:hover{
    text-decoration: underline;
}

@media only screen and (max-width:600px){
    .login__container{
        background-color: transparent;
        border:none;
        padding: 0;
        width: 100%;
    }
    .login__container{
        border-radius: 40px;
        width: 95%;
    }
    .login__container h2{
        text-align: center;
    }
    .inpunt{
        margin-left: 15px;
        width: 85%;
    }
    .button{
        margin-left: 25px;
        width: 90%;
    }
    .login__container--social-media{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .login__container--register{
        margin-left: 23%;
    }
    .login__container--remember-me{
        align-items:flex-start;
        justify-content: space-around;
    }
    .footer{
        align-items:center;
        justify-content: space-around;
    }
}