body{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 500px;
}

.header{
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #e2d624 0%,  #3550e6 46%, #f53d3d 100%);
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__img--rosa{
    width: 50px;
    margin-top: 6px;
    margin-left: 15px;
}
.header__menu{
    margin-right: 30px;
}

.header__menu ul{
    display: none;
    list-style: none;
    padding: 0;
    position: absolute;
    width: 100px;
    text-align: right;
    margin-top: 100px;
    margin-left:-20px;
}

.header__menu:hover ul, ul:hover{
    display: block;
}

.header__menu li{
    margin:10px 0px;
}

.header__menu li a{
    color:#FFFFFF;
    text-decoration: none;
}

.header__menu li a:hover{
    text-decoration: underline;
    cursor: pointer;
}

.header__menu--profile{
    margin-right: 8px;
    display: flex;
    align-items: center;
}

.header__menu--profile img{
    margin-right: 8px;
    width: 40px;
    height: 40px;
}

.header__menu--profile p{
    margin: 0;
    color:#FFFFFF;
}


